.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forms {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}